.container {
  padding: 0;
}
.imageNews {
  max-width: 300px !important;
  border-radius: 15px;
  position: relative;
}

.isiContent {
  max-width: 100% !important;
  padding: 20px;
  color: black;
 
  
}

@media only screen and (max-width:800px) {
  .imageNews {
    width: 100% !important;
    border-radius: 15px;
  }
}

